<div class="toDoContainer">

  <div class="logo">
    <figure>
      <img src="../assets/images/ico-logo.png" alt="logo">
    </figure>
  </div>

  <div class="title">
      <span>
        <h1>Frontend Test</h1>
      </span>
  </div>


  <div class="input-button">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Agrega una nueva tarea</mat-label>
        <input  matInput type="text" autocomplete="off">
      </mat-form-field>
    </form>

    <button mat-raised-button color="primary">Agregar</button>

  </div>


  <div class="example-container mat-elevation-z8">
    <table>
      <thead>
              ToDo list by Iron Bit
              <button mat-button><img src="../assets/images/recycle-bin.svg" alt="delete-all"></button>
      </thead>
      <tbody>
        <tr>
          <td>No hay ToDo's, tomate un café!</td>
        </tr>
      </tbody>
    </table>
</div>
</div>
